<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <mat-stepper [linear]="true" #stepper>
                <mat-step label="Fill out your address" >
                    <p>1</p>
                </mat-step>
                <mat-step label="Fill out your address">
                    <p>2</p>
                </mat-step>
                <mat-step label="Fill out your address">
                    <p>3</p>
                </mat-step>
                <mat-step label="Fill out your address">
                    <p>4</p>
                </mat-step>
                <mat-step label="Fill out your address">
                    <p>5</p>
                </mat-step>
            </mat-stepper>
        </div>
    </div>
</div>