<div class="row my-2 border p-2 rounded">
    <div class="col-12">
        <h3>Main</h3>
        <span class="badge me-3 bg-success"><span>Active</span></span>
        <span class="badge me-3 bg-primary"><span>Owner</span></span>
        <span class="badge bg-info"><span>Manager</span></span>
    </div>
</div>
<div class="row my-2">
    <div class="col-lg-6 col-md-12 col-sm-12">
        <h4>Setting</h4>
        <div class="card p-2 text-primary text-center border-primary my-2 w-50 pointer-cursor-header" [routerLink]="['/dashboard/offices/workplaces']">
            <span>Place Managment </span>
        </div>
        <div class="card p-2 text-primary text-center border-primary my-2 w-50 pointer-cursor-header" [routerLink]="['/dashboard/offices/employee']">
            <span>Employee Managment </span>
        </div>
        <div class="card p-2 text-primary text-center border-primary my-2 w-50 pointer-cursor-header" [routerLink]="['/dashboard/offices/setting']">
            <span>Office Managment </span>
        </div>
        <div class="card p-2 text-primary text-center border-primary my-2 w-50 pointer-cursor-header" [routerLink]="['/dashboard/offices/attendance-managment']">
            <span>Attendance Managment </span>
        </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12">
        <h4>Administrator</h4>
        <div class="card p-2  text-center border-warning my-2 w-50 pointer-cursor-header" [routerLink]="['/dashboard/offices/attendance-summary']">
            <span>Proof of Attendances </span>
        </div>
        <div class="card p-2  text-center border-warning my-2 w-50 pointer-cursor-header" [routerLink]="['/dashboard/reports/mainReport']">
            <span>Reports </span>
        </div>
    </div>
</div>