<div class="row my-2">
    <mat-accordion>
        <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
                <mat-panel-title> User Profile </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="d-flex justify-content-around">
                <!-- profile-pic -->
                <div class="col-2">
                    <div class="border rounded-circle border-3" style="width: fit-content;">
                        <mat-icon class="profile-img">person</mat-icon>
                    </div>
                </div>
                <!-- profile-info  -->
                <div class="col-5">
                    <span>
                        <span>Username: <strong>Username</strong></span>
                    </span>
                </div>
                <!-- office-info -->
                <div class="col-5"></div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>
<div class="row my-2">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title> My Invitations </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="row">

            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>
<div class="row my-2">
    <div class="col-6">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title> Payments </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="row">

                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <div class="col-6">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title> Connections </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="row">

                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>