<div class="container-fluid">
    <div class="row px-2 pt-2">
        <div class="col-12">
            <h3 class="border-bottom">Resources</h3>
            <span>
                <span class="float-start">Office</span> <span class="float-end">2</span> <br>
                <span class="float-start">Work place</span> <span class="float-end">2</span> <br>
                <span class="float-start">Place of short-term services</span> <span class="float-end">2</span> <br>
                <span class="float-start">Number of days of use</span> <span class="float-end">2</span> <br>
                <span class="float-start">Employees and personnel</span> <span class="float-end">2</span> <br>
                <span class="float-start">The number of months of salary and insurance payment</span> <span
                    class="float-end">2</span> <br>
                <span class="float-start">Number of messages and tasks</span> <span class="float-end">2</span> <br>
                <span class="float-start">Number of evaluations</span> <span class="float-end">2</span> <br>
                <span class="float-start">Number of tracking requests</span> <span class="float-end">2</span> <br>
                <span class="float-start">Settlement of accounts</span> <span class="float-end">2</span> <br>
                <span class="float-start">Monitoring the display</span> <span class="float-end">2</span> <br>
                <span class="float-start">Web services</span> <span class="float-end">2</span> <br>
                <span class="float-start">Extra shift</span> <span class="float-end">2</span> <br>
                <span class="float-start">Additional access group</span> <span class="float-end">2</span>
            </span>
        </div>
        <div class="col-12">
            <button mat-flat-button class="w-100 my-4">Add more resources</button>
        </div>
    </div>
</div>