<div class="container-fluid">
    <div class="row my-3">
        <div class="col-6">
            <mat-form-field class="w-100" appearance="outline">
                <mat-select>
                    <mat-option value="2024">2024</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-6">
            <mat-form-field class="w-100" appearance="outline">
                <mat-select>
                    <mat-option value="January">January</mat-option>
                    <mat-option value="February">February</mat-option>
                    <mat-option value="March">March</mat-option>
                    <mat-option value="April">April</mat-option>
                    <mat-option value="May">May</mat-option>
                    <mat-option value="June">June</mat-option>
                    <mat-option value="July">July</mat-option>
                    <mat-option value="August">August</mat-option>
                    <mat-option value="September">September</mat-option>
                    <mat-option value="October">October</mat-option>
                    <mat-option value="November">November</mat-option>
                    <mat-option value="December">December</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <button mat-raised-button class="w-100">Calculate and display the function for confirmation</button>
        </div>
        <div class="col-6">
            <button mat-flat-button class="w-100">Receive a confirmed performance report</button>
        </div>
    </div>
</div>